.Marqueeh2{

    color: brown;
    background-color: grey;
    margin-left: 20px;
    margin-right: 1150px;

}

img{

    height: 400px;
    width: 300px;

}

a h2{

    margin-left: 1400px;
    color: gold;

}

